@import url('https://rsms.me/inter/inter.css');

* {
    font-family: 'Inter', sans-serif !important;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif !important;
    }
}

@layer utilities {
    .navbar-list {
        @apply hover: bg-darkcyan hover:px-3 hover:rounded-md hover:peer-placeholder-shown\:scale-100 duration-300;
    }
}
